作业说明

KNN算法改进：

1——实现课本中原算法

2——实现改进算法

  2.1——改进距离度量：马氏距离

  2.2——改进节点检索：KD树

  2.3——至少使用手写识别数据集，完成算法实验。

3——作业里包含如下文件：

  3.1——源代码（改进部分要有注释），

  3.2——实验报告：包含对改进算法的描述以及实验结果对比情况，准确率、召回率、F1和算法速度等。

4——给分依据：

  4.1——代码质量（包含可读性），

  4.2——改进算法难度

  4.3——实验报告的详细性。

