作业说明

KNN算法改进：

1——实现课本中原算法

2——实现改进算法

  2.1——改进距离度量：马氏距离

  2.2——改进节点检索：KD树

  2.3——至少使用手写识别数据集，完成算法实验。(因为手写识别数据集，维度高，数据量少，有同学反应了几个问题： 1、马氏距离无法直接求协方差逆阵——可求伪逆矩阵 2、马氏距离运算时间太长，程序跑地慢——可使用其他数据集代替，测试马氏距离 3、KD树不适合大维度低样本量的数据集——因为目前只是作业，如果有时间的话可以下载MINIST、SVHN等数据集尝试KD-tree对比分析）

3——作业里包含如下文件：

  3.1——源代码（改进部分要有注释），

  3.2——实验报告：包含对改进算法的描述以及实验结果对比情况，准确率、召回率、F1和算法速度等。

4——给分依据：

  4.1——代码质量（包含可读性），

  4.2——改进算法难度

  4.3——实验报告的详细性。
  
  
